.news-item {
  max-width: 640px;
  margin-top: 2rem;
}
.news-item:first-child {margin-top: 0;}

.news-title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  cursor: pointer;
  display: inline-block;
  color: #666;
}
.expanded .news-title {
  color: #8C1818;
}

.news-title span {
  border-bottom: 2px dashed #666;
}
.expanded .news-title span {
  border-color: transparent;
}

.news-content {
  padding-top: .5rem;
}
.news-content.hidden {
  display: none;
}